@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 25px;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #000;
}

ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

ul {
    display: inline;
}

ul > a {
    text-decoration: none;
    position: relative; /* Para garantir que a barra seja posicionada em relação a este elemento */
}

ul > a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease; /* Adiciona transição suave */
}

ul > a:hover::after {
    width: 100%;
    left: 0;
}

main {
    padding: 30px;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 30px;
    background-color: #000;
    color: #fff;
}

iframe {
    border: 0px;
    width: 100%;
    height: 500px;
}
